.popup__btn_save {
    width: 358px;
    height: 51px;
    background-color: black;
    background: black;
    color: white;
    border: none;
    position: absolute;
    bottom: 37px;
    left: 36px;
    border-radius: 3px;
}

.popup__btn_save:hover {
    opacity: .5;
    transition: opacity .3s;
}
