.popupImg__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: end;
    transform: translate(0, 20px);
}