.popup_btn_save {
    width: 358px;
    height: 51px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 18px;
    border-radius: 3px;
    margin-bottom: 38px;
}

.popup_btn_save:hover {
    opacity: .5;
    transition: opacity .3s;
}