@import url("./__info/profile__info.css");
@import url("./__avatar/profile__avatar.css");
@import url("./__info-text.css/profile__info-text.css");
@import url("./__title/profile__title.css");
@import url("./__subtitle/profile__subtitle.css");
@import url("./_btn/_add/profile_btn_add.css");
@import url("./_btn/_edit/profile_btn_edit.css");
@import url("./__button-wrapper/profile__button-wrapper.css");

.profile {
    width: 882px;
    display: flex;
    flex-direction: row;
    margin: 0 auto 50px;
    justify-content: space-between;
}

@media (max-width :1024px) {
    .profile {
        width: 800px;
    }
}

@media (max-width : 768px) {
    .profile {
        width: 680px;
        flex-direction: column;
    }
}

@media (max-width : 320px) {
    .profile {
        width: 282px;
        flex-direction: column;
        margin: 0 auto 36px;
        align-items: center;
        justify-content: center;
    }
}

