@import url("./__info/profile__info.css");
@import url("./__avatar/profile__avatar.css");
@import url("./__info-text.css/profile__info-text.css");
@import url("./__title/profile__title.css");
@import url("./__subtitle/profile__subtitle.css");
@import url("./__btn-add/profile__btn-add.css");
@import url("./__btn-edit/profile__btn-edit.css");
@import url("./__button-wrapper/profile__button-wrapper.css");

.profile {
    width: 882px;
    display: flex;
    flex-direction: row;
    margin: 0 auto 50px;
    justify-content: space-between;
}

@media (max-width :1024px) {
    .profile {
        width: 800px;
    }
}

@media (max-width : 890px) {
    .profile {
        width: 680px;
        flex-direction: column;
    }
}

@media (max-width : 780px) {
    .profile {
        width: 650px;
        flex-direction: column;
    }
}

@media (max-width : 700px) {
    .profile {
        width: 540px;
        flex-direction: column;
        margin: 0 auto 36px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width :550px) {
    .profile {
        width: 385px;
        flex-direction: column;
        margin: 0 auto 36px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 390px) {
    .profile {
        width: 320px;
        flex-direction: column;
        margin: 0 auto 36px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 340px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        margin: 0 auto 36px;
        align-items: center;
        justify-content: center;
    }
}

