@import url("./__avatar/profile__avatar.css");
@import url("./__avatar-container/profile__avatar-container.css");
@import url("./__avatar-overlay/profile__avatar-overlay.css");
@import url("./__avatar-btn/profile__avatar-btn.css");
@import url("./__profile-info/profile__profile-info.css");
@import url("./__title/profile__title.css");
@import url("./__btn-edit/profile__btn-edit.css");
@import url("./__subtitle/profile__subtitle.css");
@import url("./__btn-add/profile__btn-add.css");

.profile {
    margin: 40px auto 0;
    width: 100%;
    max-width: 882px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 120px 1fr 1fr;
    grid-template-rows: minmax(min-content, max-content);
    grid-column-gap: 30px;
    grid-template-areas:
            "avatar profile-info btn-add";
}

@media all and (max-width : 920px) {
    .profile {
        margin-top: 42px;
        max-width: 282px;
        grid-template-columns: 1fr;
        grid-template-rows: 120px minmax(min-content, max-content) 50px;
        grid-template-areas:
                "avatar"
                "profile-info"
                "btn-add";
    }
}



