.profile__info-text {
    width: 336px;
}

@media (max-width : 1000px) {
    .profile__info-text {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }
}