.profile__info-text {
    width: 336px;
}


@media (max-width : 890px) {
    .profile__info-text {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
    }
}

@media (max-width : 640px) {
    .profile__info-text {
        width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }
}

@media (max-width : 550px) {
    .profile__info-text {
        width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }
}

@media (max-width : 390px) {
    .profile__info-text {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }
}

@media (max-width : 340px) {
    .profile__info-text {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }
}