.popup_type_del {
    visibility: hidden;
    opacity: 0;
    -moz-transition: visibility .5s, opacity .5s linear;
    -webkit-transition: visibility .5s, opacity .5s linear;
    -o-transition: visibility .5s, opacity .5s linear;
    -ms-transition: visibility .5s, opacity .5s linear;
    transition: visibility .5s, opacity .5s linear;
}