.header__logo {
    width: 142px;
    height: 33px;
}

@media (max-width : 700px) {
    .header__logo {
        margin-left: 24px;
    }
}


@media (max-width : 390px) {
    .header__logo {
        width: 120px;
        height: 25px;
        margin-left: 24px;
    }
}

@media (max-width : 340px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin-left: 24px;
    }
}