.element__btn-delete {
    margin: 18px 15px 0 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-width: 0;
    background-repeat: no-repeat;
    background-image: url("../../../images/trash.svg");
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-self: end;
    z-index: 1;
}

.element__btn-delete:hover {
    opacity: .5;
    transition: opacity .3s;
}