
.elements {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    grid-row-gap: 21px;
    grid-column-gap: 18px;
}

@media (max-width : 900px) {
    .elements {
        margin: 0 auto 0;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 361px);
        grid-column-gap: 25px;
    }
}

@media (max-width : 780px) {
    .elements {
        margin: 0 auto 0;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 361px);
        grid-column-gap: 25px;
    }
}

@media (max-width : 640px) {
    .elements {
        justify-content: center;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(6, 361px);
    }
}

@media (max-width : 560px) {
    .elements {
        justify-content: center;
        grid-template-columns: repeat(1, 330px);
        grid-template-rows: repeat(6, 361px);
    }
}

@media (max-width : 390px) {
    .elements {
        justify-content: center;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(6, 361px);
    }
}

@media (max-width : 340px) {
    .elements {
        margin: 0 auto 0;
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
    }
}