.element__image {
    width: 282px;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

@media (max-width : 768px) {
    .element__image {
        width: 300px;
    }
}

@media (max-width : 320px) {
    .element__image {
        width: 282px;
    }
}