.element__image {
    width: 282px;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

@media (max-width : 900px) {
    .element__image {
        width: 300px;
    }
}

@media (max-width : 700px) {
    .element__image {
        width: 300px;
    }
}

@media (max-width : 560px) {
    .element__image {
        width: 330px;
    }
}

@media (max-width : 390px) {
    .element__image {
        width: 300px;
    }
}

@media (max-width : 340px) {
    .element__image {
        width: 282px;
    }
}