@import url("./__btn-like/element__btn-like.css");
@import url("./__btn-like/_active/element__btn-like_active.css");
@import url("./__title/element__title.css");
@import url("./__image/element__image.css");
@import url("./__btn-delete/element__btn-delete.css");
@import url("./__num-like/element__num-like.css");


.element {
    margin: 0;
    background-color: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 210px 72px;
    grid-template-rows: 282px 40px 40px;
}

