.profile__info {
    display: flex;
    flex-direction: row;
}


@media (max-width : 1000px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}