.popup__text-zone {
    margin-top: 10px;
    width: 358px;
}

@media (max-width : 375px) {
    .popup__text-zone {
        margin: 0;
        width: 300px;
    }
}

@media (max-width : 320px) {
    .popup__text-zone {
        margin-top: 20px;
        width: 240px;
        align-self: flex-start;
    }
}