@import url("./__copyright/footer__copyright.css");

.footer {
    width: 882px;
    margin-top: 66px;
    margin-bottom: 60px;
}

@media (max-width : 640px) {
    .footer {
        width: 300px;
        margin-top: 48px;
        margin-bottom: 36px;
        margin-left: 30px;
        align-self: flex-start;
    }
}


@media (max-width : 550px) {
    .footer {
        width: 330px;
        margin-top: 48px;
        margin-bottom: 36px;
        margin-left: 30px;
        align-self: flex-start;
    }
}

@media (max-width : 390px) {
    .footer {
        width: 280px;
        margin-top: 48px;
        margin-bottom: 36px;
        margin-left: 30px;
        align-self: flex-start;
    }
}

@media (max-width : 340px) {
    .footer {
        width: 200px;
        margin-top: 48px;
        margin-bottom: 36px;
        margin-left: 19px;
        align-self: flex-start;
    }
}
