@import url("./__btn-like/element__btn-like.css");
@import url("./__title/element__title.css");
@import url("./__image/element__image.css");
@import url("./__button-wrapper/element__button-wrapper.css");
@import url("./__btn-delete/element__btn-delete.css");

.element {
    background-color: white;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

