.popup__text {
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
    box-shadow: none;
    margin-bottom: 10px;
}

.popup__text:valid {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 10px;
    margin-top: 10px;
}

.popup__text:focus {
    outline: 0;
}

.popup__text:invalid {
    margin-bottom: 0;
}

@media (max-width : 550px) {
    .popup__text {
        width: 280px;
        margin-left: 15px;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 10px;
    }
}

@media (max-width : 340px) {
    .popup__text {
        width: 200px;
        font-size: 14px;
        line-height: 17px;
    }
}